:root {
    --primary-color: #ff4b33;
    --text-color: #ffffff;
    --bg-color: #000000;
    --glass-bg: rgba(255, 255, 255, 0.1);
    --font-mono: "VT323", monospace;
    --font-main: "Poppins", sans-serif;
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
.auth-container {
    height: 100vh;
    position: absolute;
    width: 100vw;
}
.auth-title {
    margin-top: 10rem;
}
p.authsubtitle {
    font-family: var(--font-mono);
    font-size: 2rem;
  padding-left: 5rem;
}
.auth {
    display: flex;
    flex-direction: column;
    margin: auto;
    width:fit-content;
    padding-top: 5rem;
}
.submit-btn {
    height: 3rem;
    width: 30rem;
    font-size: 1.5rem;
    border-radius: 4rem;
    padding-left :2rem;
    padding-right :2rem;
    margin: 0 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.submit-btn:hover {
    cursor: pointer;
    background-color: #aeaeae;
}
@media (max-width: 600px) {
    .submit-btn {
        height: 3rem;
    width: 20rem;
    }
}