#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Custom Cursor */
.cursor-dot,
.cursor-outline {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 9999;
  transition: opacity 0.3s ease;
}

.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: var(--primary-color);
}

.cursor-outline {
  width: 40px;
  height: 40px;
  border: 2px solid rgba(255, 75, 51, 0.5);
  transition: transform 0.15s ease-out, width 0.2s ease-out, height 0.2s ease-out;
}

.cursor-enlarged {
  transform: scale(1.5);
}

.cursor-dot.cursor-enlarged {
  background-color: rgba(255, 75, 51, 0.8);
}

.cursor-outline.cursor-enlarged {
  border-color: rgba(255, 75, 51, 0.3);
  width: 50px;
  height: 50px;
}

* {
  cursor: none;
}
